{% extends "base.html" %}{% block title %}Login details{% endblock %}
{% block content %}<div class="card" style="max-width:520px"><h1 style="font-size:1.3rem">{% if created %}Member created{% else %}Password reset{% endif %}</h1>
<p class="muted">Share these details with <b>{{ m.full_name }}</b> securely. <b>The password is shown only once</b> and can't be viewed again.</p>
<div class="cred">Username: <b>{{ m.username }}</b><br>Password: <b>{{ password }}</b></div>
<p class="small muted">They will be required to choose a new password at first login.</p>
<div class="row"><a class="btn" href="{% url 'member_detail' m.pk %}">Open profile</a><a class="btn ghost" href="{% url 'members' %}">All members</a></div></div>{% endblock %}
